@model First_Project.Models.AboutU

@{
    ViewData["Title"] = "Edit";
        Layout="~/Views/Shared/AdminLayout.cshtml";


}

<h1>About US</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstDescreption" class="control-label"></label>
                <input asp-for="FirstDescreption" class="form-control" />
                <span asp-validation-for="FirstDescreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondDescreption" class="control-label"></label>
                <input asp-for="SecondDescreption" class="form-control" />
                <span asp-validation-for="SecondDescreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
                            <input asp-for="ImgPath" class="form-control" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary saved-msg" />
            </div>
        </form>
    </div>
</div>



