  @{
    Layout="~/Views/Shared/_Layout12.cshtml";
}  
  
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header" >
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="font-secoWndary text-primary mb-4">Shopping is easy with</h1>
                    <h1 class="display-1 text-uppercase text-white mb-4">@ViewBag.SecondDisc</h1>
                    <h1 class="text-uppercase text-white">@ViewBag.FirstDisc</h1>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="https://localhost:44372/user/category" class="btn btn-primary border-inner py-3 px-5 me-5">Check stores</a>

                                           </div>

                <img class="img-fluid  mx-auto mb-4" src=@Url.Content("~/Image/"+@ViewBag.FirstImg)  style="  position:relative;left: 400px;bottom: 520px;">

                </div>
            </div>

        </div>

    </div>


    <!-- Hero End -->






    