@model IEnumerable<First_Project.Models.Store>  
@{
    Layout="~/Views/Shared/_Layout12.cshtml";
}    

  <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Menu & Pricing</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">Menu & Pricing</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Products Start -->
    <div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">What store you prefer?</h2>
                <h1 class="display-4 text-uppercase">Stores</h1>
            </div>
             <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-3">

                @foreach (var item in Model)
            {
                            <div class="col-lg-3">
                                <div class="d-flex h-100">
                                    <div class="flex-shrink-0">
                                        <img class="img-fluid" src=@Url.Content("~/Image/" + item.ImagePath)  alt="" style="width: 150px; height: 85px;">
                                        <a href="/user/products/@item.Id ">   <h4 class="bg-dark text-primary p-2 m-0">@item.Name </h4> </a>
                                    </div>
                                   
                                </div>
                            </div>
                                
            }
                          </div>

                   </div>
            </div>
        </div>
    </div>
    <!-- Products End -->


